/*
importing the _base.scss file acc to the 7-1 architecture, we dont have to use the _ or .scss, just the path in the fold base/base - its enough for the sass to understand what do we wanna import

this architecture might be a bit of an overkill for a small project, but once you start working on a huge project, you are gonna appreciate how helpful it is

imagine having 10k lines of code
*/
@import "abstract/functions";
@import "abstract/mixins";
@import "abstract/variables";

@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/composition";
@import "components/feature-box";

@import "layout/header";
@import "layout/grid";


@import "pages/home";



/*
so what we do now is we sort all of this code bellow into the other files. so the goal is that this main file will have nothing but the import

*/
 
 


 
 




 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 