.feature-box {
  background-color: rgba($color-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0.25rem 2rem 1.5rem rgba($color-black, .3);
  transition: transform 0.5s;
 
  &__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
  }
  &:hover {
    transform: translateY(-1.15rem) scale(1.03);
  }
  }


